@font-face {
    font-family: ssp;
    src: url(font/SourceSansPro-Regular.ttf);
}

body {
    font-family: ssp;
    background: #2F0F11;
    background: linear-gradient(45deg,rgba(47, 15, 17, 1) 0%, rgba(12, 10, 20, 1) 100%);
    background-attachment: fixed;
    color: white;
}

input {
    background: #252A2E;
    color: white;
    border: none;
    border-radius: 5px;
}

.checkbox {
    border: none;
}

button {
    background: #2F363B;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: larger;
    width: 250px;
    height: 50px;
}

button:hover {
    background: #282c2f;
}

button:active {
    background: #212325;
}